<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="slalom.com.retreatapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="T-party"
        android:icon="@drawable/t_party_app"
        android:theme="@style/CustomActionBarTheme" >
        <service android:name=".util.TPartyService" />

        <activity
            android:name=".HomeActivity"
            android:label="TParty"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateUserActivity"
            android:label="Create User" >
        </activity>
        <activity
            android:name=".RetreatAppMainView"
            android:logo="@drawable/white_slalom_logo">
        </activity>
        <activity
            android:name=".GameViewActivity"
            android:label="@string/find_someone_who" >
        </activity>
        <activity
            android:name=".InformationActivity"
            android:label="Information" >
        </activity>
        <activity
            android:name=".AgendaActivity"
            android:label="Agenda" >
        </activity>
        <activity
            android:name=".LocationFeedActivity"
            android:label="@string/title_activity_location_feed"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".TrendingActivity"
            android:label="Select Location" >
        </activity>
        <activity
            android:name=".ViewPostsActivity"
            android:label="View Posts" >
        </activity>
        <activity
            android:name=".CreatePostActivity"
            android:label="New Post">
        </activity>
        <activity
            android:name=".CheckedInUsersActivity"
            android:label="@string/title_activity_checked_in_users" >
        </activity>
    </application>

</manifest>
